html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */

header {
  border-top: 4px solid rgba(0, 0, 0, 0.1);
  margin: 0 -32px 0 -32px;
}

header nav {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  margin: -4px 32px 0 32px;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  border-top: 4px solid rgba(0, 0, 0, 0); /* I tried using transparent, but it kept just removing the border*/
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0 1em 0 1em;
}

header nav ul li a:hover {
  border-top: 4px solid rgba(222, 166, 113, 1);
}

/* Hyperlinks */

a {
  color: rgb(0, 2, 136);
}

header a {
  color: rgb(109, 76, 46);
}

/* Body */

.width-wrap {
  background-color: rgba(231, 219, 180, 0.651);
  max-width: 960px;
  margin: auto;
  padding: 0 2em 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-width: 0;
  margin-bottom: 3em;
}

body {
  background-color: rgba(222, 166, 113, 0.87);
  color: rgb(97, 66, 0);
}

h1,
h2,
h3 {
  color: rgb(129, 90, 53);
}

/* Glossary */

dt::after {
  content: ":";
}

/* Selected Text */

::selection {
  background-color: rgb(92, 173, 219);
}

/* Table */

th,
td {
  padding: 0.3em 1em 0.3em 1em;
}

thead th,
tbody th,
tfoot th,
tfoot td {
  background-color: rgba(0, 0, 0, 0.2);
}

td {
  background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:nth-of-type(even) td {
  background-color: rgba(0, 0, 0, 0.15);
}

/* Line Separating Body and Footer */

hr {
  border: 0;
  width: 50%;
  max-width: 890px;
  min-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  border-bottom: 3px dotted rgb(129, 90, 53);
}

/* Form Stylings */

form *:invalid {
  background-color: rgba(233, 135, 135, 0.5);
}

label {
  display: block;
}

[type="radio"] ~ label,
[type="checkbox"] ~ label {
  display: inline;
}

[type="submit"] {
  background-color: rgb(214, 159, 108);
  color: rgb(97, 66, 0);
  border: 0;
  padding: 1em 3em 1em 3em;
}
